<%= render "layouts/header" %>
<div class="container">
  <h1 class="text-center my-5 wow animate__fadeInLeft" data-wow-duration="1s" id="about" style="font-weight: bolder; color: black">About Me</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-laptop-code about-icons wow animate__fadeInDownBig" data-wow-duration="2s"></i>
          <h4 class="card-title pt-3 wow animate__fadeInRight" data-wow-duration="3s">Skills</h4>
          <div class="d-flex justify-content-between flex-wrap wow animate__fadeInLeft" data-wow-duration="2s">
            <ul class="about-skill-list">
              <li class="about-skill-list-item">Ruby</li>
              <li class="about-skill-list-item">Rails</li>
              <li class="about-skill-list-item">Postgresql</li>
              <li class="about-skill-list-item">SQL</li>
              <li class="about-skill-list-item">React</li>
              <li class="about-skill-list-item">Redux</li>
              <li class="about-skill-list-item">Javascript</li>              
              <li class="about-skill-list-item">Bootstrap4</li>
              <li class="about-skill-list-item">Git and Github</li>
              <li class="about-skill-list-item">Sqlite3</li>
              <li class="about-skill-list-item">Heroku</li>
              <li class="about-skill-list-item">Netlify</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-graduation-cap about-icons wow animate__fadeInDownBig" data-wow-duration="2s"></i>
          <h4 class="card-title pt-3 wow animate__zoomIn" data-wow-duration="2s">Education</h4>
          <div class="d-flex justify-content-between flex-wrap wow animate__zoomIn" data-wow-duration="2s">
            <span class="skill-span">Microverse Certificate In Web Development.</span>
            <span class="skill-span">Bachelors In Educational Biology, Universityy Of Buea.</span>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-camera-retro about-icons wow animate__fadeInDownBig" data-wow-duration="2s"></i>
          <h4 class="card-title pt-3 wow animate__fadeInRight" data-wow-duration="2s">Interest</h4>
          <div class="d-flex justify-content-between flex-wrap wow animate__fadeInRight" data-wow-duration="2s">
            <span class="skill-span">Piano</span>
            <span class="skill-span">Football</span>
            <span class="skill-span">Internet</span>
            <span class="skill-span">Animation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" id="overall-div">
  <h1 class="text-center mb-5 wow animate__zoomIn" data-wow-duration="2s" id="projects" style="font-weight: bolder; color: black">Projects</h1>
  <% @projects.each do |project| %>
    <div class="row mx-auto row-div">      
        <div class="col-md-6 project-col-divs" id="project-left-div">
          <div class="card text-center">
            <%= image_tag(project.photo, class: "card-img-top", alt: "photo here") %>
          </div>
        </div>
        <div class="col-md-6 project-col-divs" id="project-right-div">
          <div class="card text-center">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title" id="project-title"><%= project.name %></h3>
                <p class="card-text d-none d-md-block"><%= project.detailed_description %></p>
                <div class="d-flex justify-content-between">
                  <%=link_to("View", project.live_demo, class: "project-links", target: "_blank") %>
                  <%=link_to("Github", project.github_link, class: "project-links", target: "_blank") %>
                </div>
                <div class="d-md-flex justify-content-between mt-2 d-none flex-wrap" id="technology-div">
                  <% project.technologies.each do |tech| %>
                    <span class="technology-span m-1"><%= tech.technology %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>

<div class="container">
    <h3 id="contact" class="text-center mt-5 mb-5" style="font-weight: bolder; color: black">Contact Me</h3>
    <div class="row">
      <div class="col-md-4 text-center"><a href="https://twitter.com/nyagaandreroy1" target="_blank"><i class="fab fa-twitter twitter"></i></a></div>
      <div class="col-md-4 text-center"><a href="https://www.linkedin.com/in/roy-nyaga-andre/" target="_blank"><i class="fab fa-linkedin-in linkedin"></i></a></div>
      <div class="col-md-4 text-center"><a href="https://web.facebook.com/roy.nyaga.77" target="_blank"><i class="fab fa-facebook-f facebook"></i></a></div>
      <div class="col-md-4 text-center"><i class="fas fa-phone-volume phone">+237671172775</i></div>
      <div class="col-md-4 text-center"><a href="https://github.com/RoyNyaga" target="_blank"><i class="fab fa-github-alt github"></i></a></div>
      <div class="col-md-4 text-center"><i class="fas fa-envelope-open-text email">nyagaandreroy@gmail.com</i></div>
    </div>
  </div>

  <div class="container-fluid" id="footer">
    <h4 class="text-center">Made by Roy Nyaga © 2020</h4>
  </div>